# Application
/public/hot
/public/storage
/storage/*.key
.env
.env.backup

# Local dev
local/
database/database.sqlite
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php

# Package Managers
/node_modules
/vendor

# Testing
phpunit.xml
.phpunit.result.cache

# Logs
npm-debug.log
yarn-error.log

# IDE & Text Editors
.idea/
.vscode/

# OS files
.DS_Store
