body {
    background-color: #FCFCFC;
    font-family: Rubik,sans-serif;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    min-height:55rem;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.field .ui.instructive.segment {
    margin-top: 0;
}

.ui.instructive.segment pre {
    margin: 0;
}

/* .ui.instructive.segment pre code {
    padding: 0;
} */

.hljs {
    background-color: #FFFFFF;
}

.ui .form .field>label {
    /* text-transform: uppercase; */
}

.ui table td {
    word-wrap: break-word;
}

.ui.modal .actions form {
    margin-bottom: 0;
}

/* .ui.items>.item>.image:not(.ui) {
    display: table;
    align-items: center;
}
.ui.items>.item>.image:not(.ui)>*:not(img) {
    display: table-cell;
    vertical-align: middle
}*/

.ui.items>.item>.image>*>img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.125rem;
    border: none;
}

.ui.cards>.card .extra {
    display: block;
    position: relative;
    background: 0 0;
    margin: 0.5rem 0 0;
    width: 100%;
    padding: 0 0 0;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    border-top: none;
}

.ui.cards>.card .extra>.label {
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.ui.items>.item .extra>.label {
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.cursor-pointer {
    cursor: pointer!important;
}

.cursor-default {
    cursor: default!important;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}